.details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;

  &__item {
    width: 30%;

    h4 {
      margin: 20px 0 10px;
    }

    p {
      margin: 5px 0;
      font-size: 13px;
    }
  }
}
