body {
  margin: 0;
  background: #000;
}


.App {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;

  .App__Sidebar {
    margin-top: 150px;
    width: 170px;
    padding: 30px 15px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 15px;
    }
  }

  .App__Center {
    img {
      max-height: 350px;
    }
    text-align: center;

    h1 {
      margin-top: -20px;
      color: #327781;
    }

    h2 {
      color: #fff;
    }
  }

  .App__List {
    margin-top: 160px;
    min-width: 200px;
    color: #fff;
  }
}



